{% extends 'admin/base.html.twig' %}

{% block title %}Classe sort création{% endblock %}

{% block body %}
    <h1>Sort création</h1>
    {{ form_start(createForm) }}
    {{ form_widget(createForm) }}
    <input type="submit" value="{% block btnValue %}Créer le sort{% endblock %}" class="btn btn-outline-success">
    {{ form_end(createForm) }}
{% endblock %}