{% extends 'admin/base.html.twig' %}

{% block title %}modif sort{% endblock %}

{% block body %}
    <h1>modif Sort</h1>
    {{ form_start(createForm) }}
    {{ form_widget(createForm) }}
    <input type="submit" value="{% block btnValue %}modifier le sort{% endblock %}" class="btn btn-outline-success">
    {{ form_end(createForm) }}
{% endblock %}