{% extends 'admin/base.html.twig' %}

{% block title %}Classe création{% endblock %}

{% block body %}
    <h1>Classe création</h1>
    {{ form_start(createForm) }}
    {{ form_widget(createForm) }}
    <input type="submit" value="{% block btnValue %}Créer la classe{% endblock %}" class="btn btn-outline-success">
    {{ form_end(createForm) }}
{% endblock %}