{% extends 'admin/base.html.twig' %}

{% block title %}Esprit création de The Lost Time{% endblock %}

{% block body %}
    <h1>Esprit création</h1>
    {{ form_start(createForm) }}
    {{ form_widget(createForm) }}
    <input type="submit" value="{% block btnValue %}Créer l'esprit{% endblock %}" class="btn btn-outline-success">
    {{ form_end(createForm) }}
{% endblock %}