{% extends 'moderateur/base.html.twig' %}

{% block title %}modif article{% endblock %}

{% block body %}
    <h1>modif article</h1>
    {{ form_start(createForm) }}
    {{ form_widget(createForm) }}
    <input type="submit" value="{% block btnValue %}modifier l'article{% endblock %}" class="btn btn-outline-success">
    {{ form_end(createForm) }}
{% endblock %}