{% extends 'admin/base.html.twig' %}

{% block title %}Element creation{% endblock %}

{% block body %}
    <h1>Element creation</h1>
    {{ form_start(createForm) }}
    {{ form_widget(createForm) }}
    <input type="submit" value="{% block btnValue %}Créer l'élément{% endblock %}" class="btn btn-outline-success">
    {{ form_end(createForm) }}
{% endblock %}