{% extends 'base.html.twig' %}
{% block body %}
    <div class="main">
        <h1 class="text-center">erreur 500 Nous sommes désolé de la gène occasionné !</h1>
		<div class="row divImageError">
			<img class= "m-auto" src=" {{ asset('img/error.png')}}" alt="image d'erreur" >
		</div>
    </div>
{% endblock %}